{% import "macros.html" as macros %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="referrer" content="no-referrer">

		<link rel="icon" type="image/png" href="/icon.png">

		<link rel="stylesheet" href="{{ get_url(path='fonts.css') }}">
		<link rel="stylesheet" href="{{ get_url(path='style.css') }}">

		<title>{% block htmltitle %}{{ config.title }}{% endblock htmltitle %}</title>

		{% if config.generate_rss %}
			<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='rss.xml') }}">
		{% endif %}

		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="ourmachine.net" />
		{%if section.title%}
		<title>{{ section.title }}</title>
		<meta name="og:title" content="{{ section.title }}" />
		{%endif%}
		{%if page.title%}
		<title>{{ page.title }}</title>
		<meta name="og:title" content="{{ page.title }}" />
		{%endif%}

		{%if section.description%}
		<meta name="description" content="A home for informal writings and reflections." />
		<meta name="og:description" content="A home for informal writings and reflections." />
		{%endif%}

		{%if page.description%}
		<meta name="description" content="{{ page.description }}" />
		<meta name="og:description" content="{{ page.description }}" />
		{%endif%}

		{%if page.image%}
		<meta name="description" content="{{ page.image }}" />
		<meta property=”og:image” content="{{ page.image }}" />
		{%endif%}

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-59785432-7"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-59785432-7');
		</script>
	   
	</head>
	<body>
	   {% block body %}
		 
			{% if config.extra.sam_menu %}
				<div id="landing-background">
					<div class="mask-container">
							<div class="mask-window">
								<div class="mask-image">
								</div>
							</div>
						</div>
				</div>
				<div class="section" id="splash">
				{% for link in config.extra.sam_menu %}
					<div class="big-link">
					   <a href="{{ link.link }}">
						  {{ link.text }}
					   </a>
					</div>
				{% endfor %}
				</div>
			 
			{% else %}
				<div class="section" id="splash">
				{% for current in section.subsections %}
					{% set current = get_section(path=current) %}
					<div class="big-link">
					   <a href="{{ current.permalink }}">
						  {{ macros::title_or_last(component=current) }}
					   </a>
					</div>
				{% endfor %}
				</div>
			 {% endif %}

		  
	   {% endblock body %}
	</body>
</html>
